.ask-question {
  background-color: $main-blue-color;
  margin: 0;
  padding: 91px 50px 44px;

  @media (max-width: $max-tablet) {
    padding: 76px 50px 99px;
  }

  @media (max-width: $max-mobile) {
    padding: 30px 15px 32px;
  }
}

.ask-question__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  @media (max-width: $max-mobile) {
    align-items: center;
  }
}

.ask-question__inner .triangle-block {
  position: relative;
  top: 8px;
  left: -116px;
  min-width: 608px;
  min-height: 535px;

  @media (max-width: 1289px) {
    order: 2;
    top: 30px;
    left: 17px;
  }

  @media (max-width: $max-tablet) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: -157px;
    left: -74px;
    background-image: url("../img/desktop/main-triangle.svg");
    background-repeat: no-repeat;
    width: 670px;
    height: 670px;
    background-size: 670px;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 64px;
    left: 100px;
    background-image: url("../img/desktop/paper-plane.png");
    background-size: 511px 288px;
    width: 511px;
    height: 288px;
    z-index: 1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/desktop/paper-plane@2x.png");
    }
  }
}
