.circuit-boards {
  min-width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.circuit-boards__inner {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100%;
  background-image: url("../img/desktop/mainback.jpg");
  background-color: $main-block-background-color;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0 0 100px 50px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/desktop/mainback@2x.jpg");
    background-size: cover;
    background-position: center;
  }

  @media (max-width: $max-tablet) {
    flex-wrap: nowrap;
    padding: 0 0 65px 25px;
  }

  @media (max-width: $max-mobile) {
    flex-direction: column;
    align-items: center;
    padding: 0 0 71px 9px;
  }
}

.circuit-boards__text-block {
  z-index: 2;
  transform: translateX(180px);
  margin: 0 24px 0 0;
  padding: 315px 0 0 20px;

  @media (max-width: 1615px) {
    margin-bottom: 100px;
  }

  @media (max-width: $max-tablet) {
    max-width: 430px;
    flex: 0 0 100%;
    margin-right: 0;
    transform: translateX(27px);
    padding: 188px 0 0 35px;
  }

  @media (max-width: $max-mobile) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
    transform: unset;
    margin: -172px 0 0;
    padding: 0 0 0 5px;
  }
}

.circuit-boards__text-block h2 {
  @include roboto-condensed-bold();
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  max-width: 763px;
  margin: 0 0 27px 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $max-mobile) {
    max-width: 350px;
    font-size: 40px;
    line-height: 47px;
    text-align: left;
    align-self: flex-start;
    margin: 0 0 27px;
  }
}

.circuit-boards__text-block p {
  position: relative;
  font-size: 22px;
  line-height: 34px;
  color: $circuit-boards-text-color;
  text-align: left;
  max-width: 763px;
  margin: 0 0 44px  0;
  padding: 0 0 0 97px;

  @media (max-width: $max-tablet) {
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 57px;
    padding: 0 0 0 54px;
  }

  @media (max-width: $max-mobile) {
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    max-width: unset;
    margin: 0 0 40px;
    padding: 0 15px 0 52px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 7px;
    border: 1px solid $circuit-boards-line-color;
    width: 63px;

    @media (max-width: $max-tablet) {
      left: 6px;
      width: 32px;
    }

    @media (max-width: $max-mobile) {
      top: 15px;
      left: 4px;
    }
  }
}

.circuit-boards__text-block button {
  @include roboto-condensed-bold();
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  max-width: 407px;
  min-width: 407px;
  min-height: 55px;
  border-radius: 5px;
  border: 0;
  background-color: $main-blue-color;
  transform: translateX(98px);
  cursor: pointer;
  margin: 0 auto;
  padding: 10px;

  &:hover,
  &:focus {
    background-color: $circuit-boards-hover;
  }

  &:active {
    background-color: $circuit-boards-active;
  }

  &::after {
    @media (max-width: $max-mobile) {
      content: "Бесплатная консультация";
      display: block;
    }
  }

  @media (max-width: $max-tablet) {
    transform: translateX(52px);
    min-width: 379px;
  }

  @media (max-width: $max-mobile) {
    transform: translateX(-6px);
    min-width: 287px;
  }
}

.circuit-boards__text-block span {
  @media (max-width: $max-mobile) {
    display: none;
  }
}

.circuit-boards__picture-block {
  transform: translateX(181px);
  z-index: 1;
  background-image: url("../img/desktop/main-triangle.svg");
  background-repeat: no-repeat;
  background-position: -5px 119px;
  margin: 0;
  padding: 257px 0 0;

  @media (min-width: $desktop) and (max-width: $max-desktop) {
    width: calc(1px + 100vw - 856px);
  }

  @media (max-width: $max-tablet) {
    background-image: url("../img/tablet/main-triangle.svg");
    background-position: -14px -1px;
    width: 100%;
    transform: none;
    padding: 0;
  }

  @media (max-width: $max-mobile) {
    background-image: url("../img/mobile/main-triangle.svg");
    background-position: 143px -46px;
    padding-top: 92px;
  }
}

.circuit-boards__picture-block-img {
  overflow: hidden;

  @media (max-width: $max-tablet) {
    position: unset;
    padding-top: 113px;
    width: calc(100vw - 506px);
    transform: translateX(51px);
  }

  @media (max-width: $max-mobile) {
    width: unset;
    min-height: 365px;
    transform: translateX(16px);
    padding: 0;
  }
}

.circuit-boards__picture-block img {
  max-width: unset;

  @media (max-width: $max-tablet) {
    width: 465px;
  }

  @media (max-width: $max-mobile) {
    width: 301px;
  }
}
