.logo-block {
  display: flex;
  margin: 0;
  padding: 0;

  @media (max-width: 657px) {
    margin-bottom: 22px;
  }

  @media (max-width: $max-mobile) {
    transform: translateX(-18px);
  }
}

.logo-block a {
  margin: 0 0 54px 0;
  padding: 0;

  @media (max-width: $max-tablet) {
    margin: 0;
  }
}
