.page-footer {
  min-width: 100%;
  margin: 0;
  padding: 65px 0 0;

  @media (max-width: $max-tablet) {
    padding: 18px 0 0;
  }

  @media (max-width: $max-mobile) {
    padding: 46px 0 0;
  }
}

.page-footer__contacts-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1520px;
  margin: 0 auto 55px auto;
  padding: 0 50px;

  @media (max-width: $max-tablet) {
    flex-direction: column;
    margin: 0 auto 36px;
    padding: 0;
  }

  @media (max-width: $max-tablet) and (min-width: $min-tablet) {
    display: block;
  }

  @media (max-width: $max-mobile) {
    display: block;
    margin-bottom: 0;
  }
}

.page-footer__logo-socials-block {
  max-width: 210px;
  margin: 0 50px 0 0;
  padding: 0;

  @media (max-width: 1191px) {
    margin-right: 5px;
  }

  @media (max-width: $max-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100%;
    max-height: 200px;
    border-bottom: 1px solid $page-footer-copyright-border-color;
    margin-bottom: 38px;
    padding: 0 25px 24px;
  }

  @media (max-width: $max-mobile) {
    justify-content: space-between;
    margin: 0 0 45px;
    padding: 0 25px 0 44px;
    border: 0;
  }

  @media (max-width: 638px) {
    flex-direction: column;
    justify-content: center;
  }
}

.page-footer__logo-socials-block > p {
  display: none;

  @media (max-width: $max-tablet) {
    display: block;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  @media (max-width: $max-mobile) {
    margin-right: 10px;
    transform: unset;
  }

  @media (max-width: 638px) {
    margin-bottom: 31px;
  }
}

