$ptmono-regular-font-color: rgba(102, 102, 102, 1);
$roboto-condensed-bold-font-color: rgba(255, 255, 255, 1);
$roboto-condensed-regular-font-color: rgba(0, 178, 255, 1);
$roboto-medium-font-color: rgba(196, 196, 196, 1);



$light-font-color: rgba(255, 255, 255, 0.3);
$bold-font-color: rgba(255, 255, 255, 1);
$regular-font-color: rgba(0, 0, 0, 1);
$semibold-font-color: rgba(255, 255, 255, 1);
$turquoise-color: rgba(10, 217, 198, 1);
$button-text-color: rgba(0, 0, 0, 1);
$burger-open-color: rgba(255, 255, 255, 1);
$burger-open-line-color: rgba(20, 21, 23, 0.2);
$burger-menu-line-color: rgba(0, 0, 0, 1);
$burger-menu-list-item-color: rgba(246, 246, 246, 1);
$burger-menu-list-item-hover: rgba(226, 222, 222, 1);
$burger-menu-list-item-active: rgba(158, 152, 152, 1);
$menu-without-js-background-color: rgba(255, 255, 255, 1);
$input-border-color: rgba(201, 204, 212, 1);
$form-title-color: rgba(0, 0, 0, 1);
$header-background-color: rgb(34, 33, 33);
$header-background-linera-gradient: rgb(19, 19, 19, 1);
$navigation-item-background-color: rgba(246, 246, 246, 1);
$input-error-color: rgba(255, 99, 71, 1);
$how-find-us-title: rgba(31, 31, 31, 1);
$how-find-us-text: rgba(0, 0, 0, 1);
$how-find-us-contacts: rgba(0, 0, 0, 0.6);
$facts-title-color: rgba(31, 31, 31, 1);
$facts-list-item-color: rgba(0, 0, 0, 1);
$facts-list-counter-color: rgba(10, 217, 198, 1);
$types-background-color: rgba(246, 247, 249, 1);
$types-title-color: rgba(31, 31, 31, 1);
$types-text-color: rgba(31, 31, 31, 1);
$video-background-color: rgba(19, 19, 20, 1);
$button-hover: rgba(43, 204, 188, 1);
$button-active: rgba(59, 168, 157, 1);
$shape-block-background-color: rgba(0, 0, 0, 1);

$desktop: 1024px;
$max-tablet: 1023px;
$min-tablet: 768px;
$max-mobile: 767px;
$min-mobile: 320px;
